<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head") %>

<body>
    <%-include("./partials/header") %> 
    <main class="productDetail-main letters ">
        <div class="section-wrap">
            <section class="productDetail-main-column-1 products-main">
                <% database.forEach(({image,name,description,id,price, discount}) => { %>
                <article class="productDetail-main-column-1-card margin product-width">
                    <div class="productDetail-main-column-1-card-img">
                      <img src="/images/products/<%= image ? image : "default-image.png" %>" alt="" class="productDetail-main-column-1-card-img-img">
                    </div>
                    
                    <div class="productDetail-card-description">
                      <%= description %>
                    </div>
          
                    <div class="productDetail-card-price letters">
                      <%= price === 0? "" : `${price.toLocaleString('en-US', {style: 'currency', currency: 'USD'})}` %>
                    </div>
          
                    <div class="productDetail-card-discount">
                      <%= `%${discount} OFF` %>
                    </div>

                    <div>
                      <a href="/products/detail/<%= id %>">
                        Ver producto
                      </a>
                    </div>
                </article>
                <% }) %>
                </section>
        </div>
        </main>
        
    <%-include("./partials/footer") %> 
</body>
</html>