<!DOCTYPE html>
<html lang="en">

<%-include("./partials/head") %> 
<%-include("./partials/header") %> 

<body>
  <main class="productDetail-main">
    <section class="productDetail-main-column-1">
      <h2 class="productDetail-main-h2"><%= name %></h2>
      
      <article class="productDetail-main-column-1-card">
       

          <div class="productDetail-main-column-1-card-img">
            <img src="/images/products/<%= image ? image : "default-image.png" %>" alt="" class="productDetail-main-column-1-card-img-img">
          </div>
          
          <div class="productDetail-card-description">
            <%= description %>
          </div>

          <div class="productDetail-card-price">
            <%= price === 0? "" : `${price.toLocaleString('en-US', {style: 'currency', currency: 'USD'})}` %>
          </div>

          <div class="productDetail-card-discount">
            <%= `%${discount} OFF` %>
          </div>
          

      </article>
      <article class="productDetail-main-column-2-card">

        <div class="productDetail-main-column-2-card-shipping">
          <div class="productDetail-main-column-2-card-shipping-card">

            <i class="fa-solid fa-truck-fast"></i>
            <span>Envios gratis a todo el pais</span>
          </div>

          <div>
            <p>Stock disponible</p>
            <form action="" class="productDetail-main-column-2-card-shipping-card-add">
              <button type="submit" >
                agregar al carrito
              </button>
            </form>

            <form action="/" class="productDetail-main-column-2-card-shipping-card-buy">
              <button type="submit" >
                comprar ahora
              </button>
            </form>
          </div>
        </div>

      </article>
      

      <article class="productDetail-main-column-1-otherProducts">

        <h2 class="productDetail-main-h2">Otros productos similares </h2>
        <div class="productDetail-others-container">
            <% others.forEach(product => { %>
              <div class="productDetail-others-container-img">
                <a href="http://localhost:3030/products/detail/<%= product.id %>">
                  <img src="/images/products/<%= product.image %>" alt="" class="imgdetail">
                </a>
              </div>
            <% }) %>
          
          </div>

      </article>

    </section>

    <section class="productDetail-main-column-2">

      

      
    </section>
  </main>
</body>
 
    <%-include("./partials/footer") %> 
</html>