<header class="header-main"> 
      <div class="header-logo">
         <a href="/">
          <img src="/images/logo.png" alt="logo ArtesanApp">
        </a>
      </div>
      <div class="header-busqueda">
          <form action="/search" method="GET">
              <input class="header-barra-busqueda" type="text" name="productSearch" placeholder="Buscar productos"  required>
              <button class="header__search-button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <nav class="header-caja-links">
            <ul>
              <li>
                <a href="/products" class="header-nav-link">Productos</a>
              </li>
              <li>
                <a href="/users/register" class="header-nav-link">Registrate</a>
              </li>
              <li>
                <a href="/products/create" class="header-nav-link">Vender</a>
              </li>
              <li>
                <a href="/about" class="header-nav-link">Nosotros</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header-buttons-container">
          
      
       <% if (typeof session.user == "undefined") { %>
        <div class="button-icons">

          <a href="/users/login link-underline-out">
              <button class="header-buttons-styles login-tablet">
                inicio de sesion
              </button>
            </a>
          </div>
          <% } %>
          
       <% if (typeof session.user != "undefined" && session.user.rol !== 1) { %>
        <div class="button-icons">
          <a href="">
            <img src="/images/avatar/<%= session.user.avatar %>" alt="" class="img-avatar-header">
          </a>
          <div class="button-icons-welcome">
            <p class="button-icons-welcome-username">
              <p class="item">
                Bienvenido <%= session.user.name %>
              </p>
              <div class="menu-desplegable-posicion">
                <span class="desplegar">
                  <i class="fa-solid fa-caret-down"></i>
                </span>
    
                <div class="menu-desplegable-contenido">
                  <a href="/users/showProfile" class="menu-desplegable-links">
                    <button class="menu-desplegable-items">
                      mis datos
                    </button>
                  </a>
                  <a href="" class="menu-desplegable-links">
                    <form action="/users/destroy" method="post">
                      <button class="menu-desplegable-items" type="submit">
                        cerrar sesion
                      </button>
                    </a>
                    </form>

                    <div class="button-icons">
                      
                      <a href="/productCart">
                        <button class="header-buttons-styles header-cart-correction">
                          <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                      </a>
                      
                    </div>

                </div>
              
              </div>
              
            </p>
            
          </div>


          <div class="button-icons hide">
                      
            <a href="/productCart">
              <button class="header-buttons-styles header-cart-correction">
                <i class="fa-solid fa-cart-shopping"></i>
              </button>
            </a>
            
          </div>
        </div>
        
          <% } %>

        
        
      <%if (typeof session.user != "undefined" && session.user.rol === 1) { %>
        <div class="button-icons">
          <a href="">
            <img src="/images/avatar/<%= session.user.avatar  %>" alt="" class="img-avatar-header">
          </a>
          <div>
          <p>
            <p class="item">
              Bienvenido <%= session.user.name %>
            </p>
            <div class="menu-desplegable-posicion">
              <span class="desplegar">
                <i class="fa-solid fa-caret-down"></i>
              </span>
  
              <div class="menu-desplegable-contenido">
                <a href="/users/showProfile" class="menu-desplegable-links">
                  <button class="menu-desplegable-items">
                    mis datos
                  </button>
                </a>
                <a href="" class="menu-desplegable-links">
                  <form action="/users/destroy" method="post">
                    <button class="menu-desplegable-items" type="submit">
                      cerrar sesion
                    </button>
                  </a>
                  </form>

                  <div class="button-icons">

                    <a href="/productCart">
                      <button class="header-buttons-styles header-cart-correction">
                        <i class="fa-solid fa-cart-shopping"></i>
                      </button>
                    </a>
                    
                  </div>

                  <div class="button-icons">
                    <a href="http://localhost:3000/">
                      <button class="header-buttons-styles">
                        Dashboard
                      </button>
                    </a>
                  </div>
              </div>
            
            </div>
            
          </p>

          </div>
        
        </div>
          
        <div class="button-icons">

          <a href="/productCart">
            <button class="header-buttons-styles header-cart-correction hide">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </a>
          
        </div>

        <div class="button-icons hide">
          <a href="http://localhost:3000/">
            <button class="header-buttons-styles">
              Dashboard
            </button>
          </a>
        </div>
        <% } %>
          
      </div>
     
     
     <!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div class="overlay-content">
    <% if (typeof session.user == "undefined")  {%>
      <div class="button-icons">
        <a href="/users/login">
            <button class="header-buttons-styles overlay-icons">
              inicio de sesion
            </button>
          </a>
        </div>
      <% } %>
    <% if (typeof session.user != "undefined" && session.user.rol !== 1) { %>
      <div class="button-icons">
        <a href="">
          <img src="/images/avatar/<%= session.user.avatar %>" alt="" class="img-avatar-header">
        </a>
        <p class="item">
          Bienvenido <%= session.user.name %>
        </p>
        
        <a href="/users/showProfile" class="menu-desplegable-links">
          <button class="menu-desplegable-items">
            mis datos
          </button>
        </a>
        
        <form action="/users/destroy" method="post">
          <button class="menu-desplegable-items" type="submit">
            cerrar sesion
          </button>
        </a>
        </form>
        
        <a href="/productCart" class="cart-width">
          <button class="header-buttons-styles header-cart-correction">
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </a>

      </div>
      <% } %>

    <%if (typeof session.user != "undefined" && session.user.rol === 1) { %>

      <div class="button-icons">
        <a href="">
          <img src="/images/avatar/<%= session.user.avatar  %>" alt="" class="img-avatar-header">
        </a>
        <div>
        <p>
          <p class="item">
            Bienvenido <%= session.user.name %>
          </p>
          <a href="/users/showProfile" class="menu-desplegable-links">
            <button class="menu-desplegable-items">
              mis datos
            </button>
          </a>
          <form action="/users/destroy" method="post">
            <button class="menu-desplegable-items" type="submit">
              cerrar sesion
            </button>
          </a>
          </form>
                  <a href="/productCart" class="cart-width">
                    <button class="header-buttons-styles header-cart-correction">
                      <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                  </a>
        </p>

        </div>
      
      </div>
        
      <div class="button-icons">
        
      </div>

      <div class="button-icons">
        <a href="http://localhost:3000/">
          <button class="header-buttons-styles">
            Dashboard
          </button>
        </a>
      </div>
    <% } %>
        </div>
  

</div>

<!-- Use any element to open/show the overlay navigation menu -->




<div class="header-burger-menu" >
  <div class="header-burger-menu-close">x</div>
  <div class="header-burger-menu-barra">
    <span class="burger-btn"onclick="openNav()">
      <button class="btn-burger-new">
        <i class="fa-solid fa-bars burger-btn-bars" style="color: #ae8bbb;"></i>
      </button>
    </span>

        <nav>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </nav>
       </div>
     </div>
     
      
  </header>