<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head") %> 
<body>
    <%-include("./partials/header") %> 
    
    <main class="profile-main">
        <form action="/users/update?_method=PUT" method="post" class="profile-form-main" enctype="multipart/form-data" id="form">
            <div class="profile-div">
                <label for="name">Cambiar nombre
                    <input type="text" name="name" value="<%= locals.old && old.name ? old.name : name %>" id="name">
                </label>
            </div>
            <% if (locals.errors && errors.name) { %>
                <span class="error-message" id="nameErrors"><%= errors.name.msg %></span>
                <% }else { %>
                    <span id="nameErrors"></span>
                <% } %>
            <div class="profile-div">
                <label for="pass">Cambiar password
                    <input type="password" name="pass" value="<%= locals.old && old.pass ? old.pass : pass %>" id="pass">
                </label>
            </div>
            <% if (locals.errors && errors.pass) { %>
                <span class="error-message"><%= errors.pass.msg %></span>
                <% }else { %>
                    <span id="pass1Errors"></span>
                <% } %>
            <div class="input-container">
                <label for="avatar" class="no">
                    Subir imagen
                    <input class="input-style" type="file" name="avatar" id="avatar" value="<%= locals.old && old.avatar ? old.avatar : avatar  %>">
                </label>
            </div>
            <% if (locals.errors && errors.avatar) { %>
                <span class="error-message"><%= errors.avatar.msg %></span>
                <% }else { %>
                    <span id="avatarErrors"></span>
                <% } %>
            <div id="avatarPreview">

            </div>
            <span id="#submitErrors"></span>
            <button type="submit" class="profile-update-button">Actualizar</button>
        </form>
            
            </article>
    </form>
    <div class="profile-center-button">
        <a href="/users/showProfile">
            <button class="profile-go-back-button">
                volver al inicio

            </button>
          </a>
    </div>
    </main>

    <%-include("./partials/footer") %> 
    <script src="/js/users/updateProfileValidation.js"></script>
    
</body>
</html>