<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/head") %> 
<body>
    <%-include("./partials/header") %> 
    
    <main class="profile-main">
        <form action="/users/update?_method=PUT" method="post" class="profile-form-main">
            <div class="profile-div">
                <label for="name">Cambiar nombre
                    <input type="text" name="name" value="<%= locals.old && old.name ? old.name : name %>">
                </label>
                <% if (locals.errors && errors.name) { %>
                    <span class="error-message"><%= errors.name.msg %></span>
                <% } %>
            </div>
            <div class="profile-div">
                <label for="pass">Cambiar password
                    <input type="password" name="pass" value="<%= locals.old && old.pass ? old.pass : pass %>">
                </label>
                <% if (locals.errors && errors.pass) { %>
                    <span class="error-message"><%= errors.pass.msg %></span>
                <% } %>
            </div>
            <button type="submit" class="profile-update-button">Actualizar</button>
        </form>
            
            </article>
    </form>
    <div class="profile-center-button">
        <a href="/users/showProfile">
            <button class="profile-go-back-button">
                volver al inicio

            </button>
          </a>
    </div>
    </main>

    <%-include("./partials/footer") %> 
    <%-include("./partials/scripts") %> 
</body>
</html>